streamlit==1.36.0
scikit-learn==1.2.2
pandas==2.0.3
numpy==1.25.2
joblib==1.4.2
matplotlib==3.7.1
plotly==5.15.0
seaborn==0.13.1
gdown==4.7.1
mlflow==2.15.1
cloudpickle==2.2.1
packaging==24.1
pathlib==1.0.1
psutil==5.9.5
pyyaml==6.0.2
